.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.image {
  width: 60%;
  max-width: 200px; 
  border-radius: 15px; 
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  color: #333; 
  margin-top: 10px;
  font-weight: bold;
}

ion-fab-button {
  --background: #3880ff; 
  --border-radius: 50%;
  --ion-color: #ffffff; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
