<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="item.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="item.description"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="saveItem()">Save</ion-button>
</ion-content>
