<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Items</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/items/add">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()" placeholder="Search items..."></ion-searchbar>
  
  <ion-list>
    <ion-item *ngFor="let item of filteredItems">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
      <ion-button fill="outline" color="primary" [routerLink]="['/items/edit', item.id]">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button fill="outline" color="danger" (click)="deleteItem(item.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
